.font {
    font-family: 'Helvetica';
}


a:hover {
    color: black;
  }
  
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
  }
  
  nav ul {
    display: flex;
    list-style: none;
    padding-right: 2.5%;
  }
  
  nav li {
    padding-left: 1rem;
    font-family: 'DM Sans', sans-serif;
  }
  
  nav a {
    text-decoration: none;
    color: #808080
  }
  
  .name {
    font-family: 'PT Serif', serif;
    font-size: 30px;
    padding-left: 2.5%;
  }
  
  .name_point {
    color: #E79794;
  }
  